include MANIFEST.in
include requirements.txt
include *.json
include *.md
recursive-include sandeep_reports *.css *.csv *.html *.ico *.js *.json *.md *.png *.py *.svg *.txt
recursive-exclude sandeep_reports *.pyc
